<section class="py-16 sm:py-32">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="grid gap-12 lg:grid-cols-3 lg:gap-8">
      <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">About</h2>
      <div class="flex flex-col items-start gap-8 sm:gap-10 lg:col-span-2">
        <p class="text-base text-primary-950/70 dark:text-primary-200/70 sm:text-lg">
          Welcome to Tiny Lego living! We're Brittney and Harry, the imaginative minds behind our
          cozy abode and the whimsical LEGO wonders that spring to life within its walls. Our tiny
          home reflects our shared love for minimalistic living and the boundless world of LEGO
          artistry. It's not just about downsizing for us; it's about thinking big in small spaces.
        </p>

        <p>
          Harry, with his knack for precision and an engineer's touch, brings structure and
          functionality to our custom LEGO designs. Meanwhile, Brittney infuses every creation with
          a burst of color and detail. Together, we've discovered the art of living large in a small
          space, finding beauty in simplicity, and turning dreams into brick-built realities.
        </p>

        <p>
          Join us as we navigate the unique challenges of tiny home living and explore the creative
          possibilities that LEGO bricks offer. In our small world, every creation tells a story,
          and every nook of our home is a canvas for imagination. Welcome to our tiny slice of
          happiness, where small spaces become the backdrop for our big LEGO ideas.
        </p>
      </div>
    </div>
  </div>
</section>
