<section class="py-16 sm:py-24">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="flex flex-col gap-16">
      <div class="items-center justify-between gap-8 sm:flex sm:gap-10">
        <div class="mb-10 flex max-w-xl flex-col items-start gap-4 sm:mb-0 sm:gap-6">
          <h1 class="text-4xl font-medium tracking-tight sm:text-4xl lg:text-6xl">
            Welcome to <span class="text-secondary whitespace-nowrap dark:text-primary-400"
              >Tiny Lego Living</span
            >
          </h1>
          <p class="text-base text-primary-950/70 dark:text-primary-200/70 sm:text-lg">
            Join us as we navigate the unique challenges of tiny home living and explore the
            creative possibilities that LEGO bricks offer.
          </p>
        </div>

        <div>
          <img
            class="h-auto max-h-[500px] w-full rounded-3xl object-cover"
            width="1280"
            height="640"
            src="/assets/hero.webp"
            alt="Hero picture"
          />
        </div>
      </div>
    </div>
  </div>
</section>
